.Customer-contents
  -if user_signed_in?
    .Side
      .Side__header
        顧客一覧
      .Side__body
        .Side__body__customer
          -@customer.each do |customer|
            -if user_signed_in?
              -if current_user.id == customer.user_id
                .Customer-name
                  =link_to customer_path(customer.id),class: "Customer-name__btn" do
                    =customer.name  
      .Side__footer
        =link_to(new_customer_path,class: "Side-btn") do
          ＋
          顧客登録
  .Main
    .Main__header
      .Main__header__contents
        .Main__header__contents__left
          CustomerCalender
        .Main__header__contents__right
          -if user_signed_in?
            =link_to(destroy_user_session_path,method: :delete,class: "Right__login") do
              ログアウト
          - else
            = link_to(users_guest_sign_in_path, method: :post,class: "Right__login" ) do
              ゲストログイン（閲覧用）
            =link_to(new_user_session_path,class: "Right__login") do
              ログイン
            =link_to(new_user_registration_path,class: "Right__new") do
              新規登録
           

    .Main__body
      %p#calendar
    .Main__footer
      .Main__footer__content
        -if user_signed_in?
          =link_to(new_event_path,class: "Footer-btn") do
            ＋
            スケジュール入力
