.Customer
  .Customer__header
    顧客一覧
    .Customer__header__contents
  .Customer__main
    .Customer__main__contents
      -@customer.each do |customer|
        .name
          =link_to customer_path(customer.id),class: "Footer__content__btn" do
            =customer.name  
  .Customer__footer
    .Footer__content__left
      =link_to(new_customer_path,class: "Footer__content__btn") do
        ＋
        顧客情報入力
  