.contents__row {
  width: 100%;
  padding: 0 20px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  box-sizing: border-box;
  font-family: "游ゴシック", "YuGothic";
}

.Container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.new_user {
  font-family: "游ゴシック", "YuGothic";
}

.form {
  display: block;
  margin-top: 0em;
}
.text {
  width: 100%;
  margin: 5px 5px 15px 0;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: rgba(52, 179, 73, 0.774);
  border-radius: 20px;
  color: rgb(55, 43, 226);
  border: 0;
  font-size: 18px;
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"]:hover {
  opacity: 0.8;
}
.Container__name {
  width: auto;
}
.Container__name__box {
  display: flex;
}
form input[type="checkbox"]  {
  margin: 10px;
}

