.Show__title {
  text-align: center;
  margin: 10px;
}
.Table {
  height: 70px;
  display: flex;
  align-items: center;
  vertical-align: inherit;
  border-color: inherit;
  justify-content: center;
  &__left{
      width: 152px;
      height: 100%;
      background-color: #eee;
      border: 1px solid #dedede;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  &__right{
      width: 467px;
      height: 100%;
      border: 1px solid #dedede;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      
  }
}

.Recode {
  height: 200px;
  display: flex;
  align-items: center;
  vertical-align: inherit;
  border-color: inherit;
  justify-content: center;
  &__left{
      width: 152px;
      height: 100%;
      background-color: #eee;
      border: 1px solid #dedede;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  &__right{
      width: 467px;
      height: 100%;
      border: 1px solid #dedede;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: scroll;

  }
}
.Show__btn {
  &__items{
    display: flex;
    justify-content: center;
    .Edit-btn{
      display: flex;
      justify-content: center;
      margin: 10px;
      height: 60px;
      width: 619px;
      border: 1px solid #dedede;
      background-color: rgb(134, 216, 248);
      padding-top: 10px;
      &__text {
        margin: 10px;
      }
      &__top {
        margin: 5px;
      }
    }
    .Edit-btn:hover {
      opacity: 0.7;
    }
    .Delete-btn{
      display: flex;
      justify-content: center;
      margin: 10px;
      height: 60px;
      width: 619px;
      border: 1px solid #dedede;
      background-color: rgb(236, 98, 33);
      padding-top: 10px;
      &__text {
        margin: 10px;
      }
      &__top {
        margin: 5px;
      }
    }
    .Delete-btn:hover{
      opacity: 0.7;
    }
  }
}

.Link-top {
  display: flex;
  justify-content: center;
  &__btn {
    margin-bottom: 20px;
  }
}
.Link-top__btn:hover {
  background-color: rgb(223, 219, 219);
}